@media (min-width:501px)
{
    .articulo{
        box-shadow: 0px 0px 10px rgba(100, 100, 100);
        }

        
        .main-navbar{
    display: flex;
    justify-content:space-between;
}
.main-navbar ul{
    display: flex;
    margin-left: -25px;
    
    
}
.main-navbar li{
    margin-right:5px ;
    
    
}
    
   .main-header-top-nav{
    display: flex;
    justify-content: space-between;
   }
   .logo{
    width:25%;
   }
   .navegacion-arriba{
    margin-top: 40px;
    margin-bottom: 50px;
    width: 32%;
    display: flex;
    justify-content: space-between;
    height: 18px;

   }
   
   .compra-en-cuotas{
width: 40%;
font-size: 22px;
margin-top: 25px;
   }

   .burger-menu{
    display: none;
   }

  .cuatro-productos{
    display: flex;
    flex-wrap:wrap ;
    padding: 20px;
    margin-left: 15px;
  }
  .articulo{
    width:45%
  }
  .otros-cuatro-productos{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: 15px;
  }
  h2{
    margin-bottom: -25px;

  }
  .fa-truck{
    margin-top: 5px;
        border: 1px solid #39b54a;
        border-radius: 100%;
        padding: 5px;
        margin-bottom: -2vh;
        position: absolute;
        right: 4px;
        top: -15px;
        background-color: white;
  }
  .truck{
position: relative;
  }
  
    }
    
