<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/tablet.css">
<link rel="stylesheet" href="/css/desktop.css">
<link rel="stylesheet" href="/css/mobile.css">

</head>
<body>
    <header class="main-header">
        <div class="main-header-top-nav">
        <img src="assets/logo-mercado-liebre.svg" alt="" class="logo">
        
        <div class="lupa-nave">
        <form action="get" class="navegacion-arriba">
            <input type="text">
        <button> <i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
        <h2 class="compra-en-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta de credito </h2>
        </div>
            
        
        <section class="margen">
            <nav class="main-navbar">
            <ul class="left-navbar">
            <li><a href="#" >Ofertas</a></li>
            <li><a href="#" >Tiendas oficiales</a></li>
            <li><a href="#" >Vender</a></li>
            <li><a href="#" >Ayuda</a></li>
            </ul>

        <ul class="rigth-navbar">
             <li ><a href='/register' >Creá tu cuenta <i class="fa-solid fa-address-card"></i></a></li>
             <li ><a href="/login" >Ingresa <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
             <li ><a href="#" >Mis compras <i class="fa-solid fa-cart-arrow-down"></i></a></li>
            </ul>
            </nav>
        </section>
        
        
        <nav class="burger-oculto">
            <a href=""><div class="burger-menu"><i class="fa-solid fa-bars"></i></div></a>
        </nav>
        
        
        
        
        </header>

<img class="bruce-banner" src="/assets/img-home-banner.jpg" alt="">

<main>

    
<section class="fondo-gris">
<h2>Sección: Basado en tu última visita</h2>


<section class="cuatro-productos">
<article class="articulo">
    
    <div class="seccion-basado">
<img src="assets/img-cafetera-moulinex.jpg" alt="" class="cafetera-1">
    
<article class="margen-producto">
<div class="truck"><i class="fa-solid fa-truck"></i></div>
<div class="precio-descuento">
<p class="precio">$6770</p>
<p class="descuento">40% OFF</p>
</div>
<p class="producto">Cafetera Moulinex</p>
</article>
</div>
</article>


<article class="articulo">
    <div class="seccion-basado">
<img src="assets/img-macbook-pro-2019.jpg" alt="" class="macbook-1">
<article class="margen-producto">
<div class="truck"><i class="fa-solid fa-truck"></i></div>
<div class="precio-descuento">
<p class="precio">$230.000</p>
<p class="descuento">20% OFF</p>
</div>
<p class="producto"> MacBook Pro 2019</p>
</article>
<div class="separacion-productos"></div>
</div>
</article>


<article class="articulo">
    <div class="seccion-basado">
<img src="assets/img-samsung-galaxy-s10.jpg" alt="" class="galaxy-1">
<article class="margen-producto">
<div class="truck"><i class="fa-solid fa-truck"></i></div>
<div class="precio-descuento">
<p class="precio">$70.500</p>
<p class="descuento">10% OFF</p>
</div>
<p class="producto">Samsung Galaxy S10</p>
</article>
</div>
</article>


<article class="articulo">
    <div class="seccion-basado">
<img src="assets/img-tv-samsung-smart.jpg" alt="" class="samsungtv-1">
<article class="margen-producto">
<div class="truck"><i class="fa-solid fa-truck"></i></div>
<div class="precio-descuento">
<p class="precio">$23.200</p>
 <p class="descuento">5% OFF</p>
 </div>
<p class="producto">SmartTv Samsung "43</p>
</article>
</div>
</article>
</section>
</section>


    <H2>Sección de Ofertas</H2>
    
    
    <section class="cuatro-productos">
        
    <article class="articulo">
        <img src="assets/img-cafetera-moulinex.jpg" alt="" class="cafetera-2">
        <article class="margen-producto">
        <div class="truck"><i class="fa-solid fa-truck"></i></div>
        <div class="precio-descuento">
        <p class="precio">$6770</p>
        <p class="descuento">40% OFF</p>
        </div>
        <p class="producto"> Cafetera Moulinex</p>
        </article>
    </article>

    
    <article class="articulo">
        <img src="assets/img-macbook-pro-2019.jpg" alt="" class="macbook-2">
        <article class="margen-producto">
        <div class="truck"><i class="fa-solid fa-truck"></i></div>
        <div class="precio-descuento">
        <p class="precio">$230.000</p>
        <p class="descuento">20% OFF</p>
        </div>
        <p class="producto">MacBook Pro 2019</p>
    </article> 
    </article>
    
     
    
    
     <article class="articulo">
        <img src="assets/img-samsung-galaxy-s10.jpg" alt="" class="galaxy-2">
        <article class="margen-producto">
        <div class="truck"><i class="fa-solid fa-truck"></i></div>
        <div class="precio-descuento">
        <p class="precio">$70.500</p>
        <p class="descuento">10% OFF</p>
        </div>
        <p class="producto">Samsung Galaxy S10</p>
    </article>
    </article>
    
    
    <article class="articulo">
        <img src="assets/img-tv-samsung-smart.jpg" alt="" class="samsungtv-2">
        <article class="margen-producto">
        <div class="truck"><i class="fa-solid fa-truck"></i></div>
        <div class="precio-descuento">
        <p class="precio">$23.200</p>
         <p class="descuento">5% OFF</p>
        </div>
        <p class="producto">SmartTv Samsung "43</p>
    </article>
    </article>

</section>
</main>

<footer>
    <section class="footer-tres">
<section>
    <div class="icono-azul"><i class="fa-solid fa-credit-card" ></i></div>
    <article class="articulo-arriba">
    <h3>Paga con tarjeta o efectivo</h3>
<p>Con Mercado Liebre Cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago.
   !Y siempre es seguro!</p>
</section>

<section > <div class="icono-azul"><i class="fa-solid fa-gift"></i></div>
    <h3>Envio gratis desde $2.500</h3> 

<p>Solo por estar registrado en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
</section>

<section> <div class="icono-azul"><i class="fa-solid fa-user-shield icon"></i></div>
    <h3>Seguridad de principio a fin</h3>
<p>No te gusta? Devolvelo. En Mercado Liebre no hay nada que no puedas hacer porque estás siempre protegid@ </p>
</section>

</section>
<sec class="copyrigth"><h3>Copyrigth c 1999-2020 Mercado Liebre S.R.L</h3></sec>


</footer>



</body>
</html>